.header {
    background-color: brown;
    height: 80px;
    display: block;
    margin: 0;
}

.hero-image {
    background-image: url("./images/20240626_111923.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: rgb(248, 242, 231);
    position: absolute;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 4rem;
}

.about {
    text-align: center;
    padding: 15px;
    background-color: rgb(243, 233, 218);
    color: rgb(87, 11, 11);
}

.two-column-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    width: 80%;
    margin: auto;
    background-color: rgb(160, 135, 111);
}

.intro-text {
    text-align: center;
    color: rgb(rgb(59, 33, 9));
}

.page-intro {
    height: 300px;
}