* {
    box-sizing: border-box;
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* This section styles the header (navigation bar). */
.header {
    background-color: rgb(133, 34, 34);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.fa-home {
    color: rgb(245, 222, 209);
    font-size: 35px;
}

.navigation {
    font-size: 1.5rem;
    display: flex;
    gap: 2rem;
}

.header a {
    color: rgb(245, 222, 209);
}

/* This section styles the hero section. */
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("./images/20240626_111923.jpg");
    height: 350px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    color: rgb(248, 242, 231);
    position: absolute;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* This section styles the about section. */
.about p {
    text-align: center;
    padding: 30px;
    background-color: rgb(243, 233, 218);
    color: rgb(87, 11, 11);
    font-size: 1.2rem;
}

/* This section styles the intro section. */
.two-intro-column-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    width: 100%;
    max-width: 2000px; 
    background-color: whitesmoke;
}

.intro-text {
    text-align: center;
    color: rgb(23, 17, 73);
    padding-top: 7px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.intro-img {
    height: 400px;
    object-fit: cover;
    width: 100%;
    display: block;
}

.intro-img2 {
    height: 400px;
    object-fit: cover;
    width: 100%;
    display: block;
}

.page-intro {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
    width: 100%;
    overflow: hidden;
}

/* This section styles the 4/3 column image sections. */
.img-section1 {
    width: 100%;
    height: 300px; 
    overflow: hidden;
}

.img-section2 {
    width: 100%;
    height: 300px; 
    overflow: hidden;
}

.img-section3 {
    width: 100%;
    height: 300px; 
    overflow: hidden;
}

.four-column-layout img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.img-section4 {
    width: 100%;
    height: 300px; 
    overflow: hidden;
}

.four-column-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    width: 100%;
    background-color: rgb(243, 233, 218);
    padding: 30px;
}

.three-column-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    background-color: rgb(243, 233, 218);
    padding: 30px;
}

.three-column-layout img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* This section styles the subpage hero sections. */
.sub-hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./images/20240626_111235.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sub-hero-text {
    color: rgb(248, 242, 231);
    position: absolute;
    text-align: center;
    top: 180px;
    width: 100%;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#activities {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("images/20240626_101530.jpg");
}

/* This section styles the two column sections. */
.two-column-layout {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
    width: 100%;
    padding: 30px;
    align-items: stretch;
}

#mudpool-section {
    grid-template-columns: 2fr 3fr;
}

#weaving {
    grid-template-columns: 2fr 3fr;
}


#valley-section {
    height: 300px;
}

#valley-section img {
    height: 240px;
}

.two-column-layout p {
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: 1.3;
}

.info {
    max-height: 390px;
    overflow-y: auto;
}

/* This section styles the text throughout. */
h2 {
    padding-bottom: 7px;
    color: rgb(87, 11, 11);
    font-size: clamp(20px, 4vw, 30px);
}

p {
    text-align: justify;
}

/* This section styles borders on the images throughout. */
.white img {
    border: 5px solid bisque;
    border-radius: 4px;
}

.beige img {
    border: 5px solid white;
    border-radius: 4px;
}

/* This section styles the footer. */
footer h2 {
    color: rgb(245, 222, 209);
    font-size: 1.4rem;
}

footer {
    background-color: rgb(133, 34, 34);
    color: rgb(245, 222, 209);
    text-align: center;
    height: 60px;
    padding-top: 20px;
}